ul{
    list-style: none;
    position: relative;
    width: 280px;
    height: 285px;
    overflow: hidden;
    margin: auto;
    padding:0;
}
li{
    position: absolute;
}
.fadeIn{
    z-index: 2;
    opacity: 1;
}
.fadeOut{
    z-index: -1;
    opacity: 0;
}
